@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

:root {
  --color-primary: #1D5554;
  --color-accent: #D9F061;
  --color-bg: #E5E7E3;
  --color-surface: #EDE8EA;
  --color-text-dark: #1D1D1F;
  --color-text-light: #ffffff;
  --color-danger: #FF5A5F;

  --color-primary-bg: #e6f4f3;
  --color-primary-bg-hover: #d0eae8;
  --color-primary-selected: #174342;

  --font-body: 'Outfit', sans-serif;
  --font-heading: 'League Gothic', sans-serif;

  --radius: 12px;
  --shadow-soft: 0 4px 16px rgba(0, 0, 0, 0.08);

  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 32px;
}

.text-primary {
  color: var(--color-primary);
}

/* 3D-esque Hero section buttons */
.hero-btn {
  box-shadow: 0 6px 0 #15803d, 0 2px 16px rgba(0,0,0,0.10);
  transition: background 0.15s, color 0.15s, box-shadow 0.1s, transform 0.1s;
  position: relative;
}
.hero-btn:active {
  transform: translateY(4px);
  box-shadow: 0 2px 0 #15803d, 0 1px 8px rgba(0,0,0,0.10);
  transition: transform 0.01s, box-shadow 0.01s;
  
}

.hero-btn-primary {
  background: #1D5554;
  color: #fff;
  border: none;
}
.hero-btn-primary:hover {
  background: #D9F061;
  color: #1D5554;
}

.hero-btn-secondary {
  background: #fff;
  color: #1D5554;
  border: 2px solid #1D5554;
  box-shadow: 0 6px 0 #15803d, 0 2px 16px rgba(0,0,0,0.10);
  transition: background 0.15s, color 0.15s, box-shadow 0.1s, transform 0.1s;
  position: relative;
}
.hero-btn-secondary:hover {
  background: #e5e7eb;
  color: #1D5554;
  border-color: #1D5554;
}

.hero-btn-secondary:active {
  transform: translateY(4px);
  box-shadow: 0 2px 0 #15803d, 0 1px 8px rgba(0, 0, 0, 0.10);
  border-color: #1D5554;
  transition: transform 0.01s, box-shadow 0.01s;
}

@keyframes popIn {
  0% {
    transform: scale(0.2);
    opacity: 0.5;
  }
  60% {
    transform: scale(1.2);
    opacity: 1;
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-pop {
  animation: popIn 0.18s cubic-bezier(0.4,1.4,0.6,1);
}

.btn-lifted-green {
  box-shadow: 0 6px 0 #219653 !important;
  border-radius: 0.75rem !important;
  font-weight: 800;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
  background: #215d5a;
  color: #fff;
  border: none;
  transition: transform 0.05s, box-shadow 0.05s;
}
.btn-lifted-green:active {
  transform: translateY(6px);
  box-shadow: none !important;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
